input {
    font-size: 0.7rem;
    display: block;
    height: 0.9rem;
}

input[type=date] {
    min-width: 6rem;
    width: 93%;
}

input[type=number] {
    width: 93%;
}

input[type=text] {
    width: 93%;
}

button {
    padding: 0.1rem;
    height: 1.2rem;
}

table {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    background-color: rgba(216, 227, 233, 0.55);
}

.sql_code {
    font-family: "Courier New", monspace;
    font-size: 0.55rem;
    font-size: 0.6rem;
}

.error {
    font-size: 0.9rem;
    color: red;
    background-color: rgba(255, 255, 255, .9);
    display: block;
    max-width: 50vw;
}